#app {
    height: 100%;
    width: 100%;
}

/* USER PROFILE */
.userProfile {
    position: fixed;
    top: 0%;
    left: 85%;
}

    /* Friends List */
    .friendList h5 {
        margin-bottom: 0;
    }

    .addFriend {
        margin-bottom: 10px;
    }

    .friend {
        display: flex;
    }

    .friend p {
        margin: 0;
    }

    .friend span {
        margin-right: 5px;
        margin-top: 4px;
    }

    .dot {
        height: 10px;
        width: 10px;
        background-color: lightgreen;
        border-radius: 50%;
    }

/* MESSAGES */
.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#id {
    width: 50%;
}

/* PLAYED PILE */
.playedPile {
    position: fixed;
    left: 48%;
    top: 26%;
}

/* PLAYER HAND CONTAINER */
.playerHand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.playerHand-container h5 {
    margin: 0;
}


/* COMPUTER HANDS CONTAINER */
.compHands-container {
    display: flex;
    justify-content: center;
    height: 400px;
    width: auto;
}

/* COMPUTER HANDS */
.compTwo-hand {
    transform: rotate(90deg);
    transform-origin: left bottom;
    height: 110px;
    position: fixed;
    left: 680px;
    top: 10px;
}

.compThree-hand {
    height: 110px;
    position: fixed;
    top: 0px;
    left: 820px;
}

.compFour-hand {
    transform: rotate(-90deg);
    transform-origin: right bottom;
    height: 110px;
    position: fixed;
    left: 950px;
    top: 10px;
}

/* COMPUTER TURN BUTTON */
.computerTurn-btn {
    position: fixed;
    top: 0%;
    left: 0%;
}