@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

body {
    width: 375px;
    height: 800px;
    max-width: 100%;
    margin: 0;
}

/* USE THIS TO MAKE CARDS POP UP */
.hhand-compact img.card.selected { 
	padding-top: 0px;
	padding-bottom: 10px;
}

/* TITLE */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.title h2 {
    margin-top: 0;
    margin-bottom: 0;
}

/* MAIN */
.main {
    width: 100%;
    height: 100%;
}

.main.hide {
    display: none;
}

/* BOARD */
.boards {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#alert {
    width: 300px;
    margin-top: 0;
}

.messages h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.placing {
    display: flex;
    flex-direction: column;
}

.placing h2 {
    margin: 0;
}

.placing p {
    margin: 0;
}

/* PLAYED PILE */
.playedPile {
    position: fixed;
    top: 200px;
    left: 150px;
}

/* PLAYER HAND CONTAINER */
.playerHand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerHand-container h5 {
    margin: 0;
}

.playerHand-buttons {
    display: flex;
    margin-top: 5px;
}

.playerHand-buttons button {
    width: 100px;
    height: 60px;
    margin-right: 5px;
}

/* COMPUTER HANDS CONTAINER */
.compHands-container {
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compHands-container img.card {
    width: 60px;
}

.two-four-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* COMPUTER HANDS */
.compHands-container .compTwo-hand {
    transform: rotate(90deg);
    width: 300px;
    height: 140px;
    position: relative;
    top: 30px;
    left: -40px;
}

.compHands-container .compThree-hand {
    width: 300px;
    height: 140px;
    text-align: center;
}

.compHands-container .compFour-hand {
    transform: rotate(-90deg);
    width: 300px;
    height: 140px;
    position: relative;
    top: -10px;
    left: 50px;
}

/* COMPUTER TURN BUTTON */
/* .computerTurn-btn {
    position: fixed;
    top: 0%;
    left: 0%;
} */